<section>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <br>
            <ol class="breadcrumb">
                <li>
                    <strong>รายชื่อทั้งหมด<strong> 
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row wrapper white-bg" ng-if="vm.employeeprofiles.length">
            <br>
                <div class="row">
                    <div class="col-sm-8 col-md-10">
                        <div class="form-group">
                            <input class="form-control" id="search" name="search" ng-model="vm.search" type="text" placeholder="ค้นหา">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group">
                            <a class="btn btn-primary btn-block" ui-sref="employeeprofiles.create">
                                    เพิ่มพนักงานใหม่
                                </a>
                        </div>
                    </div>
                </div>
                <div class="row">
            <div class="col-lg-4" ng-repeat="employeeprofile in vm.employeeprofiles | filter : vm.search" ui-sref="employeeprofiles.view({ employeeprofileId: employeeprofile._id })">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="รูปภาพ" class="img-circle m-t-xs img-responsive-custom" ng-src="{{employeeprofile.image}}">
                            <div class="m-t-xs font-bold"><br>{{employeeprofile.jobTitle}}</div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{employeeprofile.firstname}}</strong></h3>
                        <h3><strong>{{employeeprofile.lastname}}</strong></h3>
                        <address>
                            <br>
                            <span class="font-400"><i class="fa fa-map-marker"></i> {{employeeprofile.address.address}}</span>
                            <br>
                            <span class="font-400">
                            {{employeeprofile.address.district}} {{employeeprofile.address.subdistrict}} {{employeeprofile.address.postcode}}
                            </span>
                            <br>
                            <span class="font-400"> {{employeeprofile.address.province}},  {{employeeprofile.address.country.en.common}}</span>
                            <br>
                            <span class="font-400">{{employeeprofile.mobile}}</span>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <div class="alert alert-warning text-center" ng-if="vm.employeeprofiles.$resolved && !vm.employeeprofiles.length">
        คุณยังไม่มีรายชื่อพนักงาน <a ui-sref="employeeprofiles.create">เพิ่มพนักงานใหม่</a>?
    </div>
</section>
<!--    <div class="wrapper animated fadeInRight">
        <div class="row">
            <div class="col-lg-3 col-sm-6" ng-repeat="employeeprofile in vm.employeeprofiles | filter : vm.search" ui-sref="employeeprofiles.view({ employeeprofileId: employeeprofile._id })">
                <div class="contact-box center-version">
                    <a>
                        <img alt="รูปภาพ" class="img-circle" ng-src="{{employeeprofile.image}}"/>
                        <h3 class="m-b-xs"><strong>{{employeeprofile.firstname}} {{employeeprofile.lastname}}</strong></h3>
                    <div class="font-bold">
                        {{employeeprofile.jobTitle}}
                    </div>
                    <address>
                        <br>
                        <span class="font-400">{{employeeprofile.address.address}}</span>
                        <br>
                        <span class="font-400">
                        {{employeeprofile.address.district}} {{employeeprofile.address.subdistrict}} {{employeeprofile.address.postcode}}
                        </span>
                        <br>
                        <span class="font-400"> {{employeeprofile.address.province}},  {{employeeprofile.address.country.en.common}}</span>
                        <br>
                        <span class="font-400">{{employeeprofile.mobile}}</span>
                    </address>
                    </a>
        </div>
    </div>
    </div>
    </div> -->
